* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 80px;
  background: gray;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  padding: 0px 20px 0px 50px;
  z-index: 1000;
}

nav .logo {
  width: 90px;
}
.menu-btn{
  display: none;
}
svg.svg-inline--fa.fa-bars {
  color: black;
  font-size: 23px;
}
#click {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
  font-size: 20px;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  padding: 0px 5px;
}
nav ul li a:hover
 {
  border: 1px solid #fff;
  color: black;
  background-color: #fff;
  border-radius: 5px;
}
#cartim{
  width: 30px;
}
.cart-quantity {
  padding-left: 10px;
 
}


/* Media Query */
@media (max-width: 940px) {
  nav .logo {
      color: #fff;
      font-weight: bold;
      font-size: 2em;
  }
  nav {
    height: 60px;
    padding: 0 10px;
  }

  .menu-btn{
    display: block;
   }
  svg.svg-inline--fa.fa-bars {
      display: block;
      cursor: pointer;
  }
  .menu-btn{
    display: block;
   }

  nav ul {
      list-style: none;
      position: fixed;
      top: -100%;
      left: 0px;
      background-color: #000;
      height: 100vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: 1s ease-in;
      opacity: 0.6;
  }

  #click:checked ~ ul {
      top: 60px;
  }

  nav ul li {
      margin: 0 30px;
      font-size: 25px;
      margin: 40px 0;
  }

  nav ul li a {
      color: #fff;
      text-decoration: none;
      transition: 0.5s;
      padding: 0px 5px;
      background-color: #000;
  }

  nav ul li a:hover,
  nav ul li a.active {
      border: 1px solid #fff;
      color: black;
      background-color: #fff;
      border-radius: 5px;
  }
 

}



footer{ 
  text-align: center;
  padding: 30px;
  background-color: rgb(195, 198, 201);
  color: white;
  height: 15vh;
  font-size: 20px;
  
} 

/* Main content */

div.carousel-item img{
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover !important;
    z-index: -1;
    margin-top: 60px;
}
h3{
  text-align: center;
  padding-top: 20px;
}
div.trendy{
  width: 100%;
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.card-body button {
  padding: 5px 10px;
  font-weight: bold;
  background-color: rgb(229, 162, 74);
  border-style: none;
  border-radius: 10px;
}
.card-body button:hover {
  background-color: blue;
  color: white;
}
.card-text{
  width: 300px;
  height: 15vh;
}


.card {
  box-shadow: 4px 4px 0px black;
}
.card .card-img-top {
  height: 200px;
  object-fit: cover;
}
#more {
  display: none;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.skills {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
/*   top: 100px; */
  margin-top: 100px;
}


.skills:before,
.skills:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.skills:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.skills:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.skills:hover .logos-slide {
  animation-play-state: paused;
}

.skills-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.skills-slide img {
  height: 100px;
  margin: 0 40px;

}

.slide-img{
  transition: 1s;
}
.slide-img:hover{
  transform: scale(1.6);
}

#feedbacks {
  width: 90%;
  margin: 5% auto;
  border: 2px solid black;
  padding: 20px;
  /* display: flex; */
}
#feedbacks .col-8 {
  width: 800px;
}
#feedbacks .col-8 p {
  font-size: 18px;
}



